/* 基本樣式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
}

.container-fluid {
  padding: 0;
}

/* 側邊欄樣式 */
.sidebar {
  position: relative;
  background-color: #333;
  color: white;
  padding: 1.25rem;
  box-sizing: border-box;
  border-radius: 0 0.9375rem 0.9375rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  display: flex;
  width: 100%;
  max-width: 9.375rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  position: relative; 
  padding-top: 1.25rem;
}

.img1 {
  position: static;
  width: 100%;
  max-width: 9.375rem;
  height: auto;
  border-radius: 0.75rem;
  border: 0.125rem solid #ffffff;
  margin-bottom: 1.25rem;
}

.hi {
  width: 100%;
  margin-bottom: 1.25rem;
  background-image: url("images.jpg");
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 50%;
}

.hi h2 {
  font-size: 3rem;
  font-weight: bolder;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 0.9375rem;
}


a.button {
  display: block;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  padding: 0.8em 4em; 
  border: 0.125rem solid gold;
  color: gold; 
  font-weight: bold;
  font-family: inherit;
  border-radius: 0.75rem;
  text-decoration: none;
  z-index: 1; 
}

a.button::before {
  content: '';
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: gold;
  transition: .5s ease;
  z-index: -1;
  border-radius: 0.75rem;
}

a.button:hover::before {
  width: 105%;
}

a.button:hover {
  color: #000000; 
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  margin-top: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30%;
}

.card__content {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold; 
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}


.card__content p{
  color: rgb(0, 166, 255);
  font-weight: 600;
}

.main-content {
  padding: 1.25rem;
  box-sizing: border-box;
  background-color: #9EA3B0;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  justify-content: center;
  gap: 90px;
}


.burger {
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;

  .inside {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.card1 {
  display: flex;
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content1 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card1:hover .content1 {
  transform: rotateY(180deg);
}



.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* .front-content .badge:not(:last-child) {
  margin-right: 10px; 
} */

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

#SVGRepo_iconCarrier img{
  border-radius: 50%;
}

.card1 img{
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .hi h2 {
    font-sze: 2rem;
  }

  a.button {
    font-size: 0.9rem;
    padding: 0.7em 4em; 
    min-width: 8em;
  }

  .card {
    width: 160px;
    height: 214px;
    margin-top: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    min-height: auto;
    border-radius: 0;
  }

  a.button {
    font-size: 0.875rem;
    padding: 0.6em 4em;
    min-width: 7em; 
  }


  .card {
    width: 140px;
    height: 188px;
    margin-top: 1rem;
  } 
}

@media (max-width: 768px) {
  .hi h2 {
    font-size: 3rem;
  }

  a.button {
    font-size: 0.75rem;
    padding: 0.5em 4em; 
    min-width: 6em;
  }

  .img1 {
    max-width: 7.5rem;
  }

  .card {
    width: 120px;
    height: 162px;
    margin-top: 0.75rem;
  }

  .color-change{
    display: none;
  }

  .color-change.show{
    display: flex;
  }


  /* .color-change {
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
  }

  .color-change.show {
    transform: scaleY(1);
  } */


  /* .color-change {
    animation: 1s close-color-change;
    transition-duration: 0 display;
    display: none;
  }

  .color-change.show {
    animation: 1s open-color-change;
    transition-duration: 0.6s display;
    display: flex;
  } */

  .burger {
    display: block;
  }
 
  main{
    height: 100%;
  }
}

@media (max-width: 576px) {
  .img1 {
    max-width: 6.25rem;
  }

  .hi h2 {
    font-size: 3rem;
  }

  a.button {
    font-size: 0.75rem;
    padding: 0.5em 4em; 
    min-width: 5em; 
  }

  .card {
    width: 100px;
    height: 135px;
    margin-top: 0.5rem;
  }
}



@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}
@keyframes close-color-change {
	0% {
		display: flex;
		transform: scaleY(1);
		transform-origin: top;
	}

	80% {
		transform: scaleY(0);
	}

	100% {
		display: none;
    transform: scaleY(0);
	}
}




@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}






/* 
@keyframes open-color-change {
	0% {
		display: flex;
		transform: scaleY(0);
		transform-origin: top;
	}

	80% {
		transform: scaleY(1);
	}
} */